:host {
	font-family: system-ui;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	width: auto;
}

header > ui-banner {
	width: auto;
}

main {
	display: flex;
	gap: 1rem;
	height: auto;
	flex-direction: column;
	width: auto;
	flex-grow: 1;
	align-items: flex-start;
	max-width: 1400px;
	align-self: center;
	margin: 0rem 0.5rem 0rem 0.5rem;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

aside {
	flex-shrink: 1;
	min-width: 33%;
	display: flex;
	flex-direction: column;
}

h1 {
	color: #1798c1;
}

footer {
	margin-top: auto;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

@media only screen and (min-width: 769px) {
	main {
		margin: 30px;
		flex-direction: row;
	}
}

@media (prefers-color-scheme: dark) {
	:host {
		background-color: #14131b;
	}

	main {
		color: #eee;
	}
}
